{% extends 'base.html' %}
{% block content %}
    <h1>Create a New User</h1>
    <div class="container">
        <form action="/register" method="POST">
            {{ form.hidden_tag() }}
    
            {% for field in form if field.widget.input_type != 'hidden'%}
    
                <div class="form-group">
                {{ field.label }}
                {{ field(class="form-control") }}
    
                <span>
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <b>{{ error }}</b>
                        {% endfor %}
                    {% endif %}
                    </span>
    
                </div>
    
            {% endfor %}
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}